<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
    <h3>Create a new user:</h3>
    <br/>
    <form th:method="POST" th:action="@{/admin/newuser}" th:object="${newUser}">
        <label for="username">*Enter username: </label>
        <input type="text" th:field="*{username}" id="username" required />
        <br/>
        <label for="password">*Enter password: </label>
        <input type="text" th:field="*{password}" id="password" required />
        <br/>
        <label for="firstName">Enter first name: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <br/>
        <label for="lastName">Enter last name: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="email">Enter e-mail: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <label>*Выберите одну или несколько ролей:</label><br/>
        <div th:each="role : ${allRoles}">
<!--  в значение чекбокса, в value записываем id роли, если выбрать чекбокс с value="2", то при отправке формы это значение (2) будет включено в список значений поля roleIds-->
<!--  value чекбоксов (т.е. ID ролей) связывается с полем roleIds из объекта формы th:object="${newUser} (а точнее newUser.roleIds)   -->
<!--  генерируется уникальный id для каждого чекбокса, например role_1   -->
            <input type="checkbox" th:value="${role.id}" th:field="*{roleIds}" th:id="${'role_' + role.id}"/>
            <label th:for="${'role_' + role.id}" th:text="${role.roleName}">ROLE</label><br/>
        </div>
        <br/>
        <input type="submit" value="Add new User">
    </form>
    <p>*Поля являются обязательными</p>
    <br/>
    <a th:href="@{/admin}">Список пользователей</a>
    <br/>
    <br/>
    <a th:href="@{/}">Главная страница</a>
    <br/>
    <a th:href="@{/login}">Войти в аккаунт</a>
    <br/>
    <a th:href="@{/logout}">Выйти из аккаунта</a>
</body>
</html>